{% extends 'base.html' %}

{% block content %}

<!-- Page Heading -->
<h1 class="h3 mb-0 text-gray-800">Data Toko Pertanian</h1>
<p class="mb-4">Halaman ini digunakan untuk melakukan pengelolaan data toko pertanian.</p>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"><a href="{% url 'tambah_tokopertanian' %}" class="btn btn-primary">Tambah Toko Pertanian</a></h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            {% for message in messages %}
                {% if message %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endif %}
            {% endfor %}
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nama Toko</th> 
                        <th>Nama Pemilik</th> 
                        <th>Foto Toko</th> 
                        <th>Jam Buka</th> 
                        <th>Jam Tutup</th> 
                        <th>Deskripsi</th>
                        <th>Alamat</th>
                        <th>Aksi</th> 
                    </tr>
                </thead>
                <tbody>
                    {% for tokopertanian in tokper %}
                        <tr>
                            <td>{{ tokopertanian.Nama_Toko }}</td>
                            <td>{{ tokopertanian.Nama_Pemilik }}</td>
                            <td>
                                {% if tokopertanian.Foto_Toko %}
                                    <img src="{{ tokopertanian.Foto_Toko.url }}" img width = 40%></td>
                                {% endif %}
                            <td>{{ tokopertanian.Jam_Buka |time:"H:i"}}</td>
                            <td>{{ tokopertanian.Jam_Tutup |time:"H:i" }}</td>
                            <td>{{ tokopertanian.Deskripsi }}</td>
                            <td>{{ tokopertanian.Alamat }}</td>
                            <td>
                                <div class="btn-group">
                                    <a href="{% url 'ubah_tokopertanian' tokopertanian.Id_Toko %}" class="btn btn-primary d-inline-block">Edit</a>
                                    <button data-toggle="modal" data-target="#hapus-{{ tokopertanian.Id_Toko }}" class="btn btn-danger d-inline-block">Hapus</button>
                                </div>
                            </td>
                            <div class="modal" id="hapus-{{ tokopertanian.Id_Toko }}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title">Hapus</h3>
                                        </div>
                                        <div class="modal-body">
                                            Apakah Anda yakin ingin menghapus <strong>{{ tokopertanian.Nama_Toko | upper }}</strong>?
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{% url 'hapus_tokopertanian' tokopertanian.Id_Toko %}" class="btn btn-danger">Hapus</a>
                                            <button class="btn btn-primary" data-dismiss="modal">Tidak</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>  

{% endblock %}
