{% extends 'base.html' %}

{% block content %}

<!-- Page Heading -->
<h1 class="h3 mb-0 text-gray-800">Data User</h1>
<p class="mb-4">Halaman ini digunakan untuk melakukan pengelolaan Data User.</p>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            <a href="{% url 'tambah_user' %}" class="btn btn-primary">Tambah User</a>
        </h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            {% for message in messages %}
                {% if message %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endif %}
            {% endfor %}
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                            <td>{{ user.username }}</a></td>
                            <td>{{ user.email }}</a></td>
                            <td>{{ user.password }}</a></td>
                            <td>
                                <div class="btn-group">
                                    <button data-toggle="modal" data-target="#hapus-{{ user.username }}" class="btn btn-danger d-inline-block">Hapus</button>
                                </div>
                            </td>
                            <div class="modal" id="hapus-{{user.username }}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title">Hapus</h3>
                                        </div>
                                        <div class="modal-body">
                                            Apakah Anda yakin ingin menghapus <strong>{{user.username | upper }}</strong>?
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{% url 'hapus_user' user.id %}" class="btn btn-danger">Hapus</a>
                                            <button class="btn btn-primary" data-dismiss="modal">Tidak</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
